.App {
  text-align: center;
  background-color: #495057;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: whitesmoke;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

form {
  max-width: 50vw;
  margin: 0 auto;
}

button {
  margin: 1px;
}

.nav {
  height: 5vh;
}

.nav a {
  color: #17a2b8;
  margin: 5px;
  text-transform: uppercase;
  margin-right: 30px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2 {
  margin-top: 20px;
}

.nav a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

html {
  text-align: center;
  background-color: #495057;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100%;
  color: whitesmoke;
}

/* My Cars  + Single Car ********************/

.add-button {
  float: right;
  margin-right: 10px;
  margin-top: 70px;
  background-color: #2f4f4f;
  color: whitesmoke;
  border-radius: 5px;
  border: 2px solid;
  border-color: #494949;
  font-size: 15px;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
}

.add-button:hover {
  background-color: #708090;
  color: whitesmoke;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.car-partial {
  border-radius: 5px;
  border: 2px solid;
  border-color: #17a2b8;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 50px;
}

.car-partial:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.p-class {
  display: flex;
  justify-content: space-between;
  width: 310px;
}

.car-image {
  object-fit: cover;
  object-position: center;
  width: 310px;
  height: auto;
}

.car-img-div {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.neu-button {
  margin-top: 2px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: #2f4f4f;
  color: whitesmoke;
  border-radius: 5px;
  border: 2px solid;
  border-color: #494949;
  font-size: 15px;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  justify-items: center;
}

.neu-button:hover {
  background-color: #708090;
  color: whitesmoke;
}

#links {
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 70px;
}

#rechts {
  margin-top: 20px;
  float: right;
  margin-right: 10px;
}

#form-add-car input {
  height: 30px;
}

#form-add-car li {
  float: left;
  margin-left: 10px;
}

.group0 {
  display: flex;
  margin-left: 10px;
  align-items: flex-start;
}

.group1 {
  display: flex;
  margin-left: 10px;
  align-items: flex-start;
}

.group2 {
  display: flex;
  margin-left: 10px;
  align-items: flex-start;
}

.group3 {
  display: flex;
  margin-left: 10px;
  align-items: flex-start;
}

.group4 {
  display: flex;
  margin-left: 10px;
  align-items: flex-start;
}

.group5 {
  display: flex;
  margin-left: 10px;
  align-items: flex-start;
}

.save-button {
  float: left;
  margin-left: 10px;
  margin-top: 20px;
  background-color: #2f4f4f;
  color: whitesmoke;
  border-radius: 5px;
  border: 2px solid;
  border-color: #494949;
  font-size: 15px;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
}

.save-button:hover {
  background-color: #708090;
  color: whitesmoke;
}

.tableRowName {
  text-align: left;
  color: whitesmoke;
}

.tableRowValue {
  border: none;
  outline-style: none;
  text-align: right;
  background: none;
  color: whitesmoke;
}

.tableOutline {
  margin-top: 20px;
  width: 400px;
  border: 2px solid;
  border-color: #17a2b8;
  border-radius: 5px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.tableOutline td {
  border-color: #17a2b8;
}

.carImage {
  width: 380px;
  height: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}

.overview {
  display: flex;
  justify-content: space-evenly;
}

.logo {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #17a2b8, #fff, #fff);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
/* LOGIN SIGNUP */
#username {
  background: #343a40;
  border-color: #17a2b8;
  outline-color: none;
  color: whitesmoke;
}

#password {
  background: #343a40;
  border-color: #17a2b8;
  outline-color: none;
  color: whitesmoke;
}

.fuelSidebarEntry {
  text-align: left;
  padding-left: 20px;
}

.logTableRowValue option {
  color: black;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #17a2b8;
  opacity: 1; /* Firefox */
  font-weight: 100;
  text-align: left;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #17a2b8;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #17a2b8;
}

.fuelSortColors {
  background-color: #343a40;
  color: #17a2b8;
  border: 1px solid #17a2b8;
}

.fuelSortDivider {
  border-color: #17a2b8;
  margin: 0.2rem 0.5rem;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #868e96;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #343a40;
  border: 1px solid #17a2b8;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #17a2b8;
}

/* STARTPAGE */
.startPage {
  margin-left: 50px;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 100px;
  background-color: tomato;
  height: 100%;
  width: 100%;
}

.startText {
  float: left;
}
.startPage p {
  float: left;
  font-weight: bold;
  margin-top: 5px;
}
.startPage h1 {
  float: left;
  font-weight: bold;
}
.startPage h4 {
  float: left;
  margin-top: 20px;
  margin-bottom: 30px;
}

.startBild {
  float: right;
  margin-top: 300px;
  margin-right: 50px;
}

.startImage {
  background-size: 100% 100%;
}

/* ADD CAR PAGE */
.addFormInput {
  margin-top: 50px;
  width: 600px;
}

.formInput {
  margin-bottom: 30px;
  background-color: #343a40 !important;
  border-color: #17a2b8;
  outline-color: none;
  color: #17a2b8 !important;
  font-weight: bold;
}

.carAddPage {
  margin-top: 20px;
  float: left;
}

#iconTrash {
  cursor: pointer;
}

#iconTrash:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #343a40 inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: #17a2b8 !important;
}

.button {
  margin-bottom: 10px;
}

.date_pick_carDetails {
  border: 0px;
  text-align: center;
  color: white;
  width: 10ch;
  background: transparent;
}

.date_pick_addCar {
  border: 0px;
  text-align: center;
  color: black;
  width: 50vw;
  height: 4.5vh;
  background: white;
  margin-top: 1px;
}

.chartFilter {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.chartSelectBox {
  width: 300px;
}

#invoiceTable thead th {
  text-align: center;
}

#invoiceTable > tbody > tr > td > input {
  text-align: center;
}

#logbookTable thead th {
  text-align: center;
}

#logbookTable > tbody > tr > td > input {
  text-align: center;
}

#pieChart {
  width: 50vw;
  margin: 2vw 10vw;
}

#carDetailsTable tbody > tr > td {
  padding: 0.3vw;
}

#date_pick_carAdd {
  margin-bottom: 30px;
  background-color: #343a40 !important;
  border: 1px solid #17a2b8;
  border-radius: 0.25rem;
  color: #17a2b8;
  font-weight: bold;
  height: 2.3rem;
  text-align: center;
}

#date_pick_invoiceAdd {
  width: 50vw;
  border-radius: 0.25rem;
  height: 2.3rem;
  padding-left: 10px;
}

#date_pick_logAdd {
  margin-bottom: 30px;
  background-color: #343a40 !important;
  border: 1px solid #17a2b8;
  border-radius: 0.25rem;
  color: #17a2b8;
  font-weight: bold;
  height: 2.3rem;
  text-align: start;
  width: 50vw;
  padding-left: 10px;
}

#addCar_manufacturer div {
  color: #17a2b8;
  background-color: #343a40 !important;
  border-color: #17a2b8;
  border-radius: 0.25rem;
  font-weight: bold;
}

#carDetails_manufacturer div {
  color: #17a2b8;
  background-color: #495057 !important;
  border-color: #17a2b8;
  border-radius: 0.25rem;
  font-weight: bold;
}

.reportFrame {
  width: "20vw";
}

.scrollTable {
  height: 408px;
  overflow-y: auto; /* Trigger vertical scroll    */
  overflow-x: auto; /* Hide the horizontal scroll */
}

.logTableRowValue {
  border: none;
  outline-style: none;
  text-align: right;
  background: none;
  color: whitesmoke;
  text-align: center;
  width: 100%;
}
.stickyTableHeader {
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: #343a40;
  border-top: 0px !important;
  border-bottom: 0px !important;
}
#invoiceTable {
  width: 100%;
  margin-bottom: 0px;
}

#logbookTable {
  width: 100%;
}

#landingText {

  position: absolute;
  top: 38vh;
  left: 15vw;
  height: 20vh;
  width: 40vw;
  text-align: start;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 170%;
  line-height: 1.5;
}
