.App {
  text-align: center;
  background: url(image/HintergrundImage.png);
  background-position:center center;
  background-attachment: fixed;
  min-height: 100%;
  color: whitesmoke;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

form {
  max-width: 50vw;
  margin: 0 auto;
}

button {
  margin: 1px;
}

.nav a {
  color: white;
  margin: 5px;
}



h1,
h2 {
  margin-top: 20px;
}


.nav a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
html {
  text-align: center;
  background: url(image/HintergrundImage.png);
  background-position:center center;
  background-attachment: fixed;
  min-height: 100%;
  color: whitesmoke;
}

/* My Cars  + Single Car ********************/

.add-button {
  float: right;
  margin-right: 10px;
  margin-top: 70px;
  background-color: #2F4F4F;
  color: whitesmoke;
  border-radius: 5px;
  border: 2px solid;
  border-color: #494949;
  font-size: 15px;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
}

.add-button:hover {
  background-color: #708090;
  color: whitesmoke;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.car-partial{
  border-radius: 5px;
  border: 2px solid;
  border-color: #494949;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 50px;
}

.car-partial:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.p-class{
  display: flex;
  justify-content: space-between;
  width: 310px;
}

.car-image {
  object-fit: cover;
  object-position: center;
  width: 310px;
  height: auto;
}

.car-img-div {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.neu-button {
  margin-top: 2px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: #2F4F4F;
  color: whitesmoke;
  border-radius: 5px;
  border: 2px solid;
  border-color: #494949;
  font-size: 15px;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  justify-items: center;
}

.neu-button:hover {
  background-color: #708090;
  color: whitesmoke;
}

#links {
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 70px;
}

#rechts {
  margin-top: 20px;
  float: right;
  margin-right: 10px;
}


#form-add-car input {
  height: 30px;
}

#form-add-car li {
  float: left;
  margin-left: 10px;
}

.group0 {
  display: flex;
  margin-left: 10px;
  align-items: flex-start;
}

.group1 {
  display: flex;
  margin-left: 10px;
  align-items: flex-start;
}

.group2 {
  display: flex;
  margin-left: 10px;
  align-items: flex-start;
}

.group3 {
  display: flex;
  margin-left: 10px;
  align-items: flex-start;
}

.group4 {
  display: flex;
  margin-left: 10px;
  align-items: flex-start;
}

.group5 {
  display: flex;
  margin-left: 10px;
  align-items: flex-start;
}

.save-button {
  float: left;
  margin-left: 10px;
  margin-top: 20px;
  background-color: #2F4F4F;
  color: whitesmoke;
  border-radius: 5px;
  border: 2px solid;
  border-color: #494949;
  font-size: 15px;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
}

.save-button:hover {
  background-color: #708090;
  color: whitesmoke;
}

.tableRowName {
  text-align: left;
  color: whitesmoke;
}

.tableRowValue {
  border: none;
  outline-style: none;
  text-align: right;
  background: none;
  color: whitesmoke;
}


.tableOutline {
  margin-top: 20px;
  width: 400px;
  border: 2px solid;
  border-color: teal;
  border-radius: 5px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.tableOutline td {
    border-color: teal;
}

.carImage {
  width: 380px;
  height: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}

.overview {
  display: flex;
  justify-content: space-around;
}

.car-details-logbook {
  margin-top: 20px;
}

.logo {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #17a2b8, #fff, #fff );
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

#username {
  background: #343a40;
  border-color: teal;
  outline-color: none;
  color: whitesmoke;
}

#password {
  background: #343a40;
  border-color: teal;
  outline-color: none;
  color: whitesmoke;
}

